<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdkiOiQRKFFbIMp1yL4C5-URoaXKRyh98</string>
	<key>GCM_SENDER_ID</key>
	<string>655473525188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.synchronoss.TodoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-297ed</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-297ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655473525188:ios:ebf8e0955827b8c12d2491</string>
</dict>
</plist>